@media (max-width: 650px) {
  .container{
    width: 80%;
    height: 95%;
    margin-top: -30px;
    margin-bottom: 0px;
  }

  .header button {
    margin-top: 25px;
  }

  .container-img{
    margin-top: 0px;  
    margin-bottom: -100px;
    left: 5%;
    top: -40%;
  }

  .imgLogo{
    width: 110px;
    height: 110px;
  }
  
  .footer span {
    margin-right: 10px;
  }
}